<body id="home">

  <% provide(:title, 'Home') %>
  
  <% if notice %>
    <p class="ui tertiary segment"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="ui tertiary segment"><%= alert %></p>
  <% end %>

  <div class="ui vertical segment">
    <div class="ui centered padded page grid">
      <div class="twelve wide column">

        <%= form_tag(search_path, :class =>"ui fluid action input", :method => :get) do %>
          <%= search_field_tag :query, params[:query], :class => 'prompt', :placeholder => 'Search...' %>
          <button class="ui blue icon button">
            <i class="search icon"></i>
          </button>
        <% end %>

        <% if @search.nil? %>
        <% else %>
          <h3 class="ui header">Search Results</h3>
          <% @search.each do |ticket| %>
            <div class="item">
              <%= ticket.event %>, <%= ticket.location %> <%= ticket.date %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="sixteen wide column">
        <div class="row">
        </div>
      </div>
      <div class="sixteen wide column">
        <div class="row">
        </div>
      </div>
    </div>
    <div class="ui page grid">
      <div class="sixteen wide column">
        <h2 class="ui header">How it works:</h2>
        <div class="ui three column stackable grid">
          <div class="row"></div>
          <div class="column">
            <div class="ui basic horizontal segment">
              <div class="row">
                <h3 class="ui center aligned icon header">
                  <i class="find icon"></i>
                  Post tickets. Find tickets!
                </h3>
              </div>
              <p>Post your available tickets. Posting tickets is quick and easy. Site visitors find tickets, and contact the ticket lister directly via email.
              </p>
              <p>Once an agreement is made, forward it to <a href="mailto:service@swapstubs.com">service@swapstubs.com</a> and transfer the tickets to <a href="mailto:service@swapstubs.com">service@swapstubs.com</a>. The agreement should include ticket details such as seating info (section, row, seat numbers etc.) Next, both user's transfer their part of the deal to <a href="mailto:service@swapstubs.com">service@swapstubs.com</a>.</p>
            </div>
          </div>
          <div class="column">
            <div class="ui basic horizontal segment">
              <div class="row">
                <h3 class="ui center aligned icon header">
                  <i class="checkmark icon"></i>
                  SwapStubs verifies tickets
                </h3>
              </div>
              <p>Ticket verification is quick and efficient. Tickets are typically verified minutes after SwapStubs receives them. Verification ensures that the tickets match the tickets as described in the agreement, and that the tickets are legit. Verification ensures that both parties adhere to the agreement.</p>
              <p>After both transfers are verified, and confirmed, SwapStubs transfers the tickets to the new owner and completes the exchange.</p>
            </div>
          </div>
          <div class="column">
            <div class="ui basic horizontal segment">
              <div class="row">
                <h3 class="ui center aligned icon header">
                  <i class="money icon"></i>
                  Save Time and Money
                </h3>
              </div>
              <p>SwapStubs processes the exchange, verifies the tickets, and ensures both parties get their part of the agreement. The $ 6.99 Service Fee, covers the cost of service, ticket verification, and processing of the deal. The Fee should be paid when the agreement is sent to SwapStubs, or soon after. Visit <%= link_to "Pay Service Fee", new_payment_path, { method: "get"} %> to pay. SwapStubs also offers its services for deals and tickets found elsewhere. To use SwapStubs escrow services for tickets not listed on SwapStubs, email details to <a href="mailto:service@swapstubs.com">service@swapstubs.com</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui inverted feature segment">
    <div class="ui page grid">
      <div class="sixteen wide column">
        <div class="ui two column stackable equal height relaxed grid">
          <div class="column">
            <div class="ui basic inverted horizontal segment">
              <div class="ui center aligned blue icon header">
                <i class="ticket icon"></i>
                What types of tickets work?
              </div>
              <p>Most tickets purchased on Ticketmaster, and Livenation are transferable. The majority of E-tickets are transferable. Many college sporting events are also transferable. Tickets for certain Eventbrite events are also transferable, for Eventbrite the event organizer has the option to enable ticket transfers while setting up the event. SwapStubs does not currently accept tickets by mail or physical tickets. In order to process transactions, tickets must be electronically transferable. Direct specific questions to <a href="mailto:service@swapstubs.com">service@swapstubs.com</a>.</p>
            </div>
          </div>
          <div class="column">
            <div class="ui basic inverted horizontal segment">
              <div class="ui center aligned blue icon header">
                <i class="help icon"></i>
                Are my tickets transferable?
              </div>
              <p>For Ticketmaster and Livenation events log into the account where you purchased your tickets. After you log into your account, click on the 'View All Orders' link which is located below the Orders header on the left column of the screen. Once at the 'View All Orders' page find the 'Transfer' button. The Transfer button appears immediately to the right of the red 'My Tickets' button.
              </p>
              <p>SwapStubs does not accept tickets by mail and does not process transactions involving tickets sent by mail.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
