<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item">TicketSwapper</div>
        <div class="right menu">
          <a href="/tickets" class="item">View Tickets</a>
          <a href="/tickets/new" class="item">Add Tickets</a>
          <% if user_signed_in? %>
            <div class="ui dropdown item">
              <i class="dropdown icon"></i>
              <div class="menu">
                <a href="/users/dashboard"class="item"></i> User Dashboard</a>
                <%= link_to "Edit Account", edit_user_registration_path, { method: "get", class: "item" } %>
                <%= link_to "Sign Out", destroy_user_session_path, { method: "delete", class: "item" } %>
              </div>
            </div>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, { class: "item" } %>
          <% end %>
        </div>
        <script type="text/javascript">
          $('.ui.dropdown')
            .dropdown()
          ;
        </script>
      </div>
    </div>
  </div>
</div>
<div class="ui page centered grid">
  <div class="fourteen wide column">
    <h3 class="ui header">Your Tickets</h3>
    <table class="ui table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Quantity</th>
          <th>View Page</th>
          <th>Edit Page</th>
        </tr>
      </thead>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= format_date(ticket.date) %></td>
            <td><%= ticket.event %></td>
            <td><%= ticket.quantity %></td>
            <td><a href="/tickets/<%= ticket.id %>">View</a></td>
            <td><a href="/tickets/<%= ticket.id %>">Edit</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


