<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item">TicketSwapper</div>
        <div class="right menu">
          <a href="/" class="item">Go Home</a>
          <a href="/tickets/new" class="item">Add Tickets</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui page centered grid">
  <div class="fourteen wide column">
    <h3 class="ui header"> Tickets Index </h3>
    <table class="ui table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Quantity</th>
          <th>location</th>
        </tr>
      </thead>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= format_date(ticket.date) %></td>
            <td><a href="/tickets/<%= ticket.id %>"> <%= ticket.event %> </a></td>
            <td><%= ticket.quantity %></td>
            <td><%= ticket.location %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @tickets %>
  </div>
</div>