<div class="ui page centered grid">
  <div class="fourteen wide column">
    <h3 class="ui header"> Ticket Index </h3>
    <table class="ui table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Quantity</th>
          <th>location</th>
        </tr>
      </thead>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= format_date(ticket.date) %></td>
            <td><a href="/tickets/<%= ticket.id %>"> <%= ticket.event %> </a></td>
            <td><%= ticket.quantity %></td>
            <td><%= ticket.location %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>