<h1>Add Tickets</h1>

<%= form_for(@ticket) do |f| %>

  <%= f.label :event %>
  <%= f.text_field :event %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :date %>
  <%= f.date_select :date %>

  <%= f.label :quantity %>
  <%= f.text_field :quantity %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Create listing" %>

<% end %>  
