<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item">SwapStubs</div>
        <div class="right menu">
          <a href="/tickets" class="item">View Tickets</a>
          <a href="/tickets/new" class="item">Add Tickets</a>
          <% if user_signed_in? %>
            <div class="ui dropdown item">
              <i class="dropdown icon"></i>
              <div class="menu">
                <a href="/users/dashboard"class="item"></i> User Dashboard</a>
                <%= link_to "Edit Account", edit_user_registration_path, { method: "get", class: "item" } %>
                <%= link_to "Sign Out", destroy_user_session_path, { method: "delete", class: "item" } %>
              </div>
            </div>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, { class: "item" } %>
          <% end %>
        </div>
        <script type="text/javascript">
          $('.ui.dropdown')
            .dropdown()
          ;
        </script>
      </div>
    </div>
  </div>
</div>
<% if notice %>
  <p class="ui tertiary segment"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="ui tertiary statement"><%= alert %></p>
<% end %>

<div class="ui page centered grid">
  <div class="fourteen wide column">
    <h3 class="ui header">Add Tickets</h3>

    <script type="text/javascript">
      $('#new_ticket_select').bind('change',function(){
        $('#new_ticket_submit_btn').click();
      });
      mixpanel.track_forms("#new_ticket", "Created Ticket");
    </script>

    <%= form_for(@ticket, :html => {:class => "ui raised form segment"}) do |f| %>
      <% if @ticket.errors.any? %>
        <div class="ui error form segment">
          <div class="ui error message">
            <div class="header"><%= pluralize(@ticket.errors.count, "error") %>
              Prohibited this article from being saved:
            </div>
            <div class="ui relaxed list">
              <% @ticket.errors.full_messages.each do |msg| %>
                <div class="item">
                  <%= msg %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <%= f.label :event %>
      <%= f.text_field :event %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :date %>
      <%= f.date_select :date, { :order => [:month, :day, :year], :prompt => { :month => 'Month', :day => 'Day', :year => 'Year'} } %>

      <%= f.label :quantity %>
      <%= f.text_field :quantity %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :description %>
      <%= f.text_area :description, :placeholder => "Please provide a brief description of your tickets and what you want in exchange. Include seating info, general admission or seat, section, and row." %>

      <%= f.submit "Create listing", :class => "ui fluid blue button" %>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% end %>