<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item">TicketSwapper</div>
        <div class="right menu">
          <a href="/tickets" class="item">View Tickets</a>
          <a href="/tickets/new" class="item">Add Tickets</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui page centered grid">
  <div class="fourteen wide column">
    <h3 class="ui center aligned header">Add Tickets</h3>

    <%= form_for(@ticket, :html => {:class => "ui raised small form segment"}) do |f| %>

      <%= f.label :event %>
      <%= f.text_field :event %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :date %>
      <%= f.date_select :date, { :order => [:month, :day, :year], :prompt => { :month => 'Month', :day => 'Day', :year => 'Year'} } %>

      <%= f.label :quantity %>
      <%= f.text_field :quantity %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :description %>
      <%= f.text_area :description, :placeholder => "Please provide a brief description of your tickets and what you want in exchange. Include seating info, general admission or seat, section, and row." %>

      <%= f.submit "Create listing", :class => "ui fluid blue button" %>
    <% end %>
  </div>
</div>
