<div class="ui page centered grid">
  <div class="fourteen wide column">
    <div class="ui raised segment">
      <div class="ui black ribbon label">Ticket Id: <%= @ticket.id %></div>
      <h4 class="ui center aligned header"><%= @ticket.event %> (<%= @ticket.location %>)
      <div class="sub header"> <%= format_date(@ticket.date) %> </div></h4>
      Quantity: <%= @ticket.quantity %><br />
      Description: <%= @ticket.description %><br />
    </div>
  </div>
</div>