<h1>Ticket # <%= @ticket.id %> </h1>
Event: <%= @ticket.event %><br />
Date of Event: <%= @ticket.date %> <br />
City: <%= @ticket.location %> <br />
Quantity of Tickets: <%= @ticket.quantity %><br />
Description: <%= @ticket.description %><br />
