<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item">TicketSwapper</div>
        <div class="right menu">
          <a href="/tickets" class="item">View Tickets</a>
          <a href="/tickets/new" class="item">Add Tickets</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui page centered grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="fourteen wide column">
    <div class="ui vertical segment">
      <div class="ui raised segment">
        <div class="ui top left attached black label">Ticket Id: <%= @ticket.id %></div>
        <h2 class="ui header"><%= @ticket.event %></h2>
        <%= format_date(@ticket.date) %><br />
        <%= @ticket.location %><br />
        Quantity: <%= @ticket.quantity %><br />
        Description: <%= @ticket.description %><br />
        Contact: <a href="mailto:<%= @ticket.email %>"><%= @ticket.email %></a>
      </div>
    </div>
  </div>
</div>