<h1>Ticket # <%= @ticket.id %> </h1>
Event: <%= @ticket.event %> <%= @ticket.date %> <br />
City: <%= @ticket.location %> <br />
Venue: <%= @ticket.venue %><br />
Quantity of Tickets: <%= @ticket.quantity %><br />
Section: <%= @ticket.section %><br />
Row: <%= @ticket.row %>
