<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item">TicketSwapper</div>
        <div class="right menu">
          <a href="/tickets/new" class="item">Add Tickets</a>
          <a href="/tickets" class="item">View Tickets</a>
          <a href="/" class="item">Go Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui page centered grid">
  <div class="fourteen wide column">
    <div class="ui raised segment">
      <div class="ui black ribbon label">Ticket Id: <%= @ticket.id %></div>
      <h4 class="ui center aligned header"><%= @ticket.event %> (<%= @ticket.location %>)
      <div class="sub header"> <%= format_date(@ticket.date) %> </div></h4>
      Quantity: <%= @ticket.quantity %><br />
      Description: <%= @ticket.description %><br />
    </div>
  </div>
</div>