<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("dfd5f9ac2de7804dca35f643360318c1");</script><!-- end Mixpanel -->

  
</head>
<body>
<div class="ui basic segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item"><a href="/">SwapStubs</a></div>
        <div class="right menu">
          <a href="/tickets" class="item">View Tickets</a>
          <a href="/tickets/new" class="item">Add Tickets</a>
          <% if user_signed_in? %>
            <div class="ui dropdown item">
              <i class="dropdown icon"></i>
              <div class="menu">
                <a href="/users/dashboard"class="item"></i> User Dashboard</a>
                <%= link_to "Edit Account", edit_user_registration_path, { method: "get", class: "item" } %>
                <%= link_to "Sign Out", destroy_user_session_path, { method: "delete", class: "item" } %>
              </div>
            </div>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, { method: "get", class: "item" } %>
          <% end %>
        </div>
        <script type="text/javascript">
          $('.ui.dropdown')
            .dropdown()
          ;
        </script>
      </div>
    </div>
  </div>
</div>


<%= yield %>

</body>
</html>
