<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  
</head>
<body>
<div class="ui inverted segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item"><a href="/">SwapStubs</a></div>
        <div class="right menu">
          <a href="/tickets" class="item">View Tickets</a>
          <a href="/tickets/new" class="item">Add Tickets</a>
          <% if user_signed_in? %>
            <div class="ui dropdown item">
              <i class="dropdown icon"></i>
              <div class="menu">
                <a href="/users/dashboard"class="item"></i> User Dashboard</a>
                <%= link_to "Edit Account", edit_user_registration_path, { method: "get", class: "item" } %>
                <%= link_to "Sign Out", destroy_user_session_path, { method: "delete", class: "item" } %>
              </div>
            </div>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, { method: "get", class: "item" } %>
          <% end %>
        </div>
        <script type="text/javascript">
          $('.ui.dropdown')
            .dropdown()
          ;
        </script>
      </div>
    </div>
  </div>
</div>


<%= yield %>

</body>
</html>
